@model HomeVm
<!--====== Slider Part Start ======-->

<section class="slider-area slider-active">
    @foreach (var slider in Model.Sliders)
    {
        <div class="single-slider">
            <div class="slider-image">
                <img src="~/assets/images/@slider.ImagePath" alt="slider" />
            </div>
            <div class="slider-content-wrapper">
                <div class="container-fluid custom-container">
                    <div class="slider-content">
                        <h4 data-animation="fadeInDown"
                            data-delay="0.5s"
                            class="sub-title">
                            @slider.Subtitle
                        </h4>
                        <h1 data-animation="fadeInLeft"
                            data-delay="0.5s"
                            class="main-title">
                            @slider.Title
                        </h1>
                        <p data-animation="fadeInRightBig" data-delay="0.5s">
                            @slider.Description
                        </p>
                        <a data-animation="zoomIn"
                           data-delay="0.5s"
                           class="main-btn"
                           asp-action="Index" asp-controller="Shop">Shop Now</a>
                    </div>
                </div>
                <!-- container -->
            </div>
        </div>

    }
    <!-- single slider -->

</section>

<!--====== Slider Part Ends ======-->
<!--====== Banner Part Start ======-->

    <div class="banner-area banner-bg">
      <div class="container-fluid custom-container">
        <div class="row">
          <div class="col-md-6">
            <div class="banner-image">
                    <a asp-action="Index" asp-controller="Shop"><img src="~/assets/images/banner-1.png" alt="banner"
              /></a>
            </div>
            <!-- banner image -->
          </div>
          <div class="col-md-6">
            <div class="banner-image">
              <a asp-action="Index" asp-controller="Shop"
                ><img src="~/assets/images/banner-2.png" alt="banner"
              /></a>
            </div>
            <!-- banner image -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
<!--====== Banner Part Ends ======-->
<!--====== Category Part Start ======-->

<section class="category-area category-bg pt-100 pb-100">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-30">
                    <h2 class="title">Featured Categories</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row category-active">
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                var category = Model.Categories[i];

                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" asp-action="Index" asp-controller="Shop" asp-route-id="@category.Id">
                            <img src="~/assets/images/@category.ImageUrl" alt="category" />
                            <p>@category.Name</p>
                        </a>
                    </div>

                    @{category = Model.Categories[++i];}
                    <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" asp-action="Index" asp-controller="Shop" asp-route-id="@category.Id">
                            <img src="~/assets/images/@category.ImageUrl" alt="category" />
                            <p>@category.Name</p>
                        </a>
                    </div>
                    <!-- single category -->
                </div>
            }

        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!--====== Category Part Ends ======-->
<!--====== Product Part Start ======-->

<section class="product-area pt-100 pb-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active"
                               id="new-tab"
                               data-toggle="tab"
                               href="#new"
                               role="tab"
                               aria-controls="new"
                               aria-selected="true">New Arrival</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="bestseller-tab"
                               data-toggle="tab"
                               href="#bestseller"
                               role="tab"
                               aria-controls="bestseller"
                               aria-selected="false">Bestseller</a>
                        </li>
                  
                    </ul>
                </div>
                <!-- product menu -->
            </div>
        </div>
        <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active"
                 id="new"
                 role="tabpanel"
                 aria-labelledby="new-tab">
                <div class="product-items">
                    <div class="row product-active">
                        @for (int i = 0; i < Model.NewArrival.Count; i++)
                        {
                            var product = Model.NewArrival[i];



                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="Detail" asp-controller="Shop" asp-route-id="@product.Id">
                                            <img class="first-image"
                                                 src="~/assets/images/@product.ProductImages.FirstOrDefault(x=>x.IsMain)?.Path"
                                                 alt="product" />
                                            <img class="second-image"
                                                 src="~/assets/images/@product.ProductImages.FirstOrDefault(x=>x.IsHover)?.Path"
                                                 alt="product" />
                                        </a>
                                        <ul class="product-meta">
                                            <li>
                                                <a href="#"><i class="icon ion-bag"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon ion-android-favorite-outline"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon ion-android-options"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="modal"
                                                   data-target="#productQuickModal"
                                                   href="#">
                                                    <i class="icon ion-android-open"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int j = 0; j < product.Rating; j++)
                                            {
                                            <li><i class="fas fa-star"></i></li>
                                                
                                            }
                                         
                                        </ul>
                                        <h4 class="product-title">
                                            <a href="single-product.html">@product.Name</a>
                                        </h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.Price</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- single product -->

                                @{
                                    product = Model.NewArrival[++i];
                                }
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="Detail" asp-controller="Shop" asp-route-id="@product.Id">
                                            <img class="first-image"
                                                 src="~/assets/images/@product.ProductImages.FirstOrDefault(x=>x.IsMain)?.Path"
                                                 alt="product" />
                                            <img class="second-image"
                                                 src="~/assets/images/@product.ProductImages.FirstOrDefault(x=>x.IsHover)?.Path"
                                                 alt="product" />
                                        </a>
                                        <ul class="product-meta">
                                            <li>
                                                <a href="#"><i class="icon ion-bag"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon ion-android-favorite-outline"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon ion-android-options"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="modal"
                                                   data-target="#productQuickModal"
                                                   href="#">
                                                    <i class="icon ion-android-open"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int j = 0; j < product.Rating; j++)
                                            {
                                                <li><i class="fas fa-star"></i></li>

                                            }

                                        </ul>
                                        <h4 class="product-title">
                                            <a href="single-product.html">@product.Name</a>
                                        </h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.Price</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- single product -->
                            </div>

                            
                        }
                       
                    </div>
                    <!-- row -->
                </div>
                <!-- product items -->
            </div>
            <div class="tab-pane fade"
                 id="bestseller"
                 role="tabpanel"
                 aria-labelledby="bestseller-tab">
                <div class="product-items">
                    <div class="row product-active">
                        @for (int i = 0; i < Model.BestsellerProducts.Count; i++)
                        {
                            var product = Model.BestsellerProducts[i];



                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="Detail" asp-controller="Shop" asp-route-id="@product.Id">
                                            <img class="first-image"
                                                 src="~/assets/images/@product.ProductImages.FirstOrDefault(x=>x.IsMain)?.Path"
                                                 alt="product" />
                                            <img class="second-image"
                                                 src="~/assets/images/@product.ProductImages.FirstOrDefault(x=>x.IsHover)?.Path"
                                                 alt="product" />
                                        </a>
                                        <ul class="product-meta">
                                            <li>
                                                <a href="#"><i class="icon ion-bag"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon ion-android-favorite-outline"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon ion-android-options"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="modal"
                                                   data-target="#productQuickModal"
                                                   href="#">
                                                    <i class="icon ion-android-open"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int j = 0; j < product.Rating; j++)
                                            {
                                                <li><i class="fas fa-star"></i></li>

                                            }

                                        </ul>
                                        <h4 class="product-title">
                                            <a href="single-product.html">@product.Name</a>
                                        </h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.Price</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- single product -->
                                @{
                                    product = Model.BestsellerProducts[++i];
                                }
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="Detail" asp-controller="Shop" asp-route-id="@product.Id">
                                            <img class="first-image"
                                                 src="~/assets/images/@product.ProductImages.FirstOrDefault(x=>x.IsMain)?.Path"
                                                 alt="product" />
                                            <img class="second-image"
                                                 src="~/assets/images/@product.ProductImages.FirstOrDefault(x=>x.IsHover)?.Path"
                                                 alt="product" />
                                        </a>
                                        <ul class="product-meta">
                                            <li>
                                                <a href="#"><i class="icon ion-bag"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon ion-android-favorite-outline"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon ion-android-options"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="modal"
                                                   data-target="#productQuickModal"
                                                   href="#">
                                                    <i class="icon ion-android-open"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int j = 0; j < product.Rating; j++)
                                            {
                                                <li><i class="fas fa-star"></i></li>

                                            }

                                        </ul>
                                        <h4 class="product-title">
                                            <a href="single-product.html">@product.Name</a>
                                        </h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.Price</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- single product -->
                            </div>


                        }

                    </div>
                    <!-- row -->
                </div>
                <!-- product items -->
            </div>
        </div>
        <!-- tab content -->
    </div>
    <!-- container -->
</section>

<!--====== Product Part Ends ======-->
<!--====== Special Products Part Start ======-->

<!--====== Blog Part Start ======-->

<section class="blog-area blog-bg pt-100 pb-100">
    <div class="container">
        <div class="row blog-active">
            @foreach (var blog in Model.Blogs)
            {
            <div class="col-lg-4">
                <div class="single-blog">
                    <div class="blag-image">
                        <a asp-action="Detail" asp-controller="Blog" asp-route-id="@blog.Id">
                            <img src="~/assets/images/@blog.ImagePath" alt="Blog" />
                        </a>
                        <p class="meta-date">
                            <span class="month">@blog.CreatedTime.ToShortDateString()</span>
                        </p>
                    </div>
                    <div class="blag-content">
                        <h2 class="blog-title">
                                <a asp-action="Detail" asp-controller="Blog" asp-route-id="@blog.Id">@blog.Title</a>
                        </h2>
                           @if(blog.Description.Length>100)
                                {
                                    <p>
                                        @blog.Description.Substring(0,100) ...
                                    </p>
                                }
                                else
                                {
                                <p>
                                        @blog.Description
                                </p>
                                }
                    </div>
                </div>
                <!-- single blog -->
            </div>
                
            }
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!--====== Blog Part Ends ======-->
